.background {
	position: absolute;
	z-index: 1;
}

.pouncing_cheetah {
	position: absolute;
	top: 115px;
	left: 110px;
	animation: fadeInLeft 1s;
	-webkit-animation: fadeInLeft 1s;
	display: block;
	z-index: 2;
}

.circus_ring {
	position: absolute;
	top: 177px;
	left: 318px;
	animation: fadeInRight 1s;
	-webkit-animation: fadeInRight 1s;
	display: block;
	z-index: 3;
}